<h2>All Products</h2>

<% @products.each do |product| %>
  <p><span style="font-weight: bold;">Name: </span><%= product.name %>; <span style="font-weight: bold;">Unit price: </span>  <%= number_to_currency(product.price) %><span style="font-weight: bold;"> Quantity: </span>  <%= product.quantity %> <span style="font-weight: bold;"> Image: </span>
  	<% if product.image.blank? %>
		Product has No Image
	<% else %>
		<%= image_tag product.image.url , width: 100, height: 100 %>
	<% end %>
  	<%= button_to "Add #{product.name} to cart", line_items_path(:product_id => product.id) %></p>
  <p>
    <%= link_to "Edit", edit_product_path(product) %> |
    <%= link_to "Delete", product_path(product), method: :delete, data: {confirm: "Are you sure?"} %>
  </p>
<% end %>

<%= link_to "New product", new_product_path %>